
<%- include("header") -%>
   
   
<h2>Welcome to our Todo App!</h2>
<p>We understand that life can get overwhelming with countless tasks and responsibilities, making it easy to lose track of what needs to be done. That's why we've created this intuitive and efficient Todo App to help you stay organized, focused, and in control of your daily activities.</p>

   <p> Our app is designed with simplicity and productivity in mind, offering a seamless user experience that empowers you to manage your tasks effortlessly. Whether you're a busy professional, a student juggling multiple assignments, or simply someone looking to stay on top of their personal goals, our Todo App is the perfect companion to keep you on track.</p>

   <h2>About the dev</h2>
<p>Developed by Sujal Bisani</p>

   <p><a href = "https://www.linkedin.com/in/sbisani/">LinkedIn</a>  
    <a href = "https://leetcode.com/onlySujal/">LeetCode</a>
    <a href = "https://auth.geeksforgeeks.org/user/sb200212/">GFG</a></p>
 
 <%- include("footer") -%>

 